$spacing: 1em;
$pxPad: 20px;
$contentHeight: 77vh;
$darkGreen: #006666;
$darkBlue: #004680;
$hoverGray: #3f6181;
$teal: #007a99;
$lightPurple: rgb(127, 127, 233);

@mixin setSpacing($marginProp, $paddingProp) {
  margin: $marginProp;
  padding: $paddingProp;
}

@mixin setCompatibleProp($prop, $val) {
  #{$prop}: $val;
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  -ms-#{$prop}: $val;
  -o-#{$prop}: $val;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  // font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.error {
  color: red;
}

#main-header,
#main-content,
#main-footer {
  justify-content: center;
  align-items: center;
}

#main-header,
#main-footer {
  min-height: 10vh;
  padding: $spacing;
  display: flex;
  box-sizing: border-box;
}

#main-content {
  min-height: 80vh;
  background-color: #f3f3f3e7;
  padding: $spacing * 2;
  box-sizing: border-box;
}
