@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $lightGray;
}

.error {
  color: red;
}

#main-header,
#main-content,
#main-footer {
  justify-content: center;
  align-items: center;
}

#main-header,
#main-footer {
  min-height: 10vh;
  display: flex;
  box-sizing: border-box;
}

#main-header {
  position: fixed;
  width: 100%;
  z-index: 25;
}

#main-content {
  min-height: 80vh;
  padding: $spacing * 2;
  box-sizing: border-box;
  margin: $spacing * 8 $spacing * 2 auto;

  @media (min-width: 1200px) {
    margin: $spacing * 8 $spacing * 5 auto;
  }

  @media (max-width: 768px) {
    margin: 0;
    margin-top: $spacing * 8;
  }

  @media (max-width: 298px) {
    margin: 0;
    margin-top: $spacing * 10;
  }
}
