@import 'variables';

#main-header {
  background-color: $teal;
  font-family: 'Times New Roman', Times, serif;
  padding: 2em;

  // * {
  //   box-sizing: border-box;
  // }

  a.nav-link {
    font-size: 1.25rem;
  }
}
