@import 'variables';

.settings-dark {
  color: white;
  background-color: $teal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.task-count,
.task-pages {
  padding: $spacing 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  input {
    max-width: 15em;
  }

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.show-completed {
  margin-left: 10%;
}

@media (max-width: 520px) {
  .task-pages {
    display: block;
    text-align: center;
  }

  .show-completed {
    margin-left: auto;
  }

  // .pagination {
  //   text-align: center;
  // }
}
