@import 'variables';

.form-check-input {
  transform: scale(1.5);
  top: 0.1rem;
}

.form-check-label {
  margin: auto 0.2rem;
}

.reverse-checkbox {
  display: inline-block;

  label {
    display: flex;
    flex-direction: row-reverse;
  }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tasks {
  text-align: center;

  img {
    width: 65vw;

    @media (min-width: 1200px) {
      width: 55vw;
    }

    @media (min-width: 1920px) {
      width: 50vw;
    }

    @media (max-width: 768px) {
      width: 75vw;
    }
  }
}

.no-underline:hover {
  text-decoration: none;
}
